/* .wrapper{
  display: flex;

} */

@use "variables" as *;

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  
  ul{
    display: flex;
    flex-direction: row;
  }
  li{
    padding-right: 1.5rem;
    padding-left: 1rem;
    list-style: none;
  }
  header{
    background-color: $dark-purple; 
  }
  
  .wowies{
    font-size: 2rem;
    border-radius: 5px;
    /* font-family: ; */
  }
  
  .about{
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  margin-right: 5rem;
  font-size: larger;
  
  }
  
  .popular-home{
    display: flex;
    flex-direction: row;
    overflow: hidden
  }
  
  footer{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    background-color: $dark-purple; 
    width: 100%;
  }
  
  .tmbd{
    padding-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    margin: 0 auto;
  }
  
  nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
  }

  .movie-list{
    display: flex;
    justify-content: center;
  }


  .movie-image-wrap:hover{
    opacity: 1;
  }
  // .movie-image-wrap {
  //   position: relative;
  //   display: inline-block;
  // }
  
  // .movie-image-wrap img {
  //   display: block;
  //   width: 200px; 
  //   height: auto; 
  // }
  
  // .overlay {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-color: rgba(0, 0, 0, 0.5); 
  //   color: white;
  //   display: none;
  //   justify-content: center;
  //   align-items: center;
  // }
  
  // .overlay p {
  //   margin: 0;
  // }
  
  // .movie-image-wrap:hover .overlay {
  //   display: flex;
  // }
  /* .main-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
  } */
  
  @media screen and (max-width:700px){
    
    /* about us media queries */
    .about{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      font-size: larger;
      justify-content: center;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
  
      }
  
      nav{
        bottom: 0;
        width: 100%;
        position: fixed;
        z-index: 100;
        display: flex;
        justify-content: center;
        background-color: $dark-purple;
      }
  
      .about-wowies{
        font-size: 1.2rem;
      }
  
      .about-body{
        font-size: 0.9rem;
  
      }
  
      .tmbd{
        width: 120px;
      }

      footer{
        display: none;
      }
      
  
  
  }
  
  
  