@use "variables" as *;


main{ 
    margin:10px; 
}

.home-grid{ 
    display:grid; 
    grid-template-columns: repeat(2, 50%);
    gap:10px;

    img{
        display: block;
        width: 100%;
        height: auto;
        object-fit: contain;
    }
}