@use "variables" as *;
@use "mixins" as *;

main{ 
    margin:10px; 
}

.home-grid{ 
    display:grid; 
    grid-template-columns: repeat(2, 1fr);
    gap:10px;

    img{
        display: block;
        width: auto;
        height: auto;
        object-fit: cover;
    }

    @include mq($tablet) {
        display:flex; 
        flex-wrap: wrap;
        justify-content: center;
    }

    @include mq($desktop) { 
        display: grid;
        grid-template-columns: repeat(5,1fr);
        margin: 0 auto; 
    }
}