@use "variables" as *;
@use "mixins" as *;


.movie-backdrop{ 
    img{ 
        display: block;
        height: auto;
        width:100%;
        filter:brightness(30%)
    }
}

.movie-detail-wrapper{ 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1rem;

    @include mq(740px){
        font-size:1.25rem;
        display: grid;
        grid-template-columns: 25% 75%;
        gap: 1rem;
        margin:30px; 
        justify-items: center;
        align-items: center;
    } 
}

.movie-info-single{ 
    padding-right:1rem; 
}

.movie-poster-wrapper{ 

    position: relative;

    img{ 
        display: block;
        width: 100%; 
        height: auto; 
        // max-width: 300px;
        margin: 0 auto;

      }
      .movie-poster{ 
        max-width: 400px;
    }
      
}

//fav btn 
.fav-btn{ 
    align-items: center;
    background-color: $dark-purple;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    user-select: none;
    vertical-align: middle;
    margin: 0 auto;

    &:hover{ 
        background-color: $light-purple;
    }
    &:active{ 
        background-color: $light-purple;
    }
}


//trailers 
.video-container-wrapper{ 
    .video-iframe-container{ 

        overflow: hidden;
        // padding-bottom: 56.25%;
        // position: relative;
        // height: 0;

        iframe{ 
        border-style: none;
        min-width: 300px;
        min-height: 156px;
        max-width: 100%;
        // width: 100%;
        // max-height: auto;
        // margin: 0 auto;

        @include mq($tablet){ 
            max-height: 100%;
        }
        }
    }
  
}
